* {
    margin: 0;
    padding: 0;
   
}

.contentFull{
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    padding-bottom: 20px;
    
  }
  
.menu {
    width: 100%;
    border-bottom: 1px solid #000 ;
    height: 50px;
    margin-top: 5px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    
}

.menuXO{
    font-size: 50px;
    margin: 10px;
}
  

.content {
    display: flex;
    margin: 20px 50px 50px 50px;
    font-family: sans-serif;
}

#area {
    width: 305px;
   /* border: 1px solid #000;*/
    margin:  0 auto;
    font-size: 0;
}

.cell {
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    font-size: 120px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover {
    background-color: #f1f1f1 ;
}

.currentPlayer {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: absolute;
    margin-left: 900px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

footer{
    margin-top: auto;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 1px solid #000;
    bottom: 0;
    left: 0;
    height: 40px;
}

a{
    text-decoration: none;
}


/* mob version*/

@media (max-width: 550px) {
    .cell{
    width: 70px;
    height: 70px;
    line-height: 60px;
    font-size: 70px;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stat{
        margin-left: 0;
        position: relative;
        margin-top: 20px;
    }
    .content{
        justify-content: center;
    }
    .main-footer{

    }
    #area{
        width: 220px;
    }

}